/* pretty colors */
.theme-dark {
  --background-primary: #181818 !important;
  --background-secondary: #181818 !important;
  --background-tertiary: #181818 !important;
  --background-accent: #181818 !important;
  --background-floating: #181818 !important;
  --channeltextarea-background: #181818 !important;
  --deprecated-panel-background: #181818 !important;
  --deprecated-quickswitcher-input-background: #181818 !important;
  --text-normal: #d8d8d8 !important;
  --red: #f2777a !important;
  --darkred: #ab4642 !important;
  --green: #a1b56c !important;
  --grey: #585858 !important;
  --blue: #6699cc !important;
}

/* some colors still don't use variables */
.container-3gCOGc {
	background-color: var(--background-primary) !important;
}

/* user popout backgrounds */
.userPopout-3XzG_A * {
	background-color: var(--background-primary) !important;
}

/* popout and context menu borders */
.userPopout-3XzG_A,
.contextMenu-HLZMGh {
	border: 2px solid var(--grey) !important;
}

/* member list border */
.membersWrap-2h-GB4 {
	border-left: 2px solid var(--grey) !important;
}

/* title border */
.title-3qD0b- {
	border-bottom: 2px solid var(--grey) !important;
}

/* sidebar border */
.sidebar-2K8pFh {
	border-right: 2px solid var(--grey) !important;
}

/* voice chat status border */
.panels-j1Uci_ {
	border-top: 2px solid var(--grey) !important;
}

/* praise roboto */
:not(code) {
	font-family: Roboto !important
}

code,
code * {
	font-family: Roboto Mono !important;
}

/* if you want a feature done right you have to implement it yourself */
div[class^='messageGroupBlocked'] {
	display: none !important;
}

/* make mention messages red */
.isMentioned-N-h9aa {
	background-color: var(--darkred) !important;
}

/* hide scrollbars */
div[class*="scrollerWrap"] div[class*="scroller"]::-webkit-scrollbar-thumb,
div[class*="scrollerWrap"] div[class*="scroller"]::-webkit-scrollbar-track-piece {
  display: none !important;
}

/* fix font weight after discord made it terrible */
div[class^='isCompact'] {
	font-weight: 300 !important;
}

textarea {
	font-weight: 400 !important;
}

/* quick switcher alignment */
div[class*="quickswitcher"] div[class*="input"] {
	padding 0 20px !important;
}

/* hide guild navigator */
.base-3dtUhz {
	left: 0px !important;
}
